
body {
    margin: 0;
}

.hero-image {
    position: relative;
    width: 100%;
}

.hero-image img{
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background:linear-gradient(rgba(249, 247, 247, 0) 0%, rgba(247, 247, 247, 0.09) 8.85%, rgb(255, 255, 255) 100%)
        
    
}

.navbar {
    background: linear-gradient(rgb(23, 98, 147) 0%, rgba(23, 98, 147, 0.337) 71%, rgba(23, 98, 147, 0) 100%);
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.right a.tcff {
    background: black;
    color: white;
    padding: 18px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}
.right a.tcff:hover{
    text-decoration: underline;
    transform:scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.500);
}

.right a:hover, .left a:hover{
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.content h1 {
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: -0.9px;
    /* line-height: 1.2;    */
    margin-top: 40px;
    margin-bottom: 5px;
    color: rgb(30, 200, 55);
}

.content p {
    max-width: 1020px;
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
    color: #475569;
    margin-bottom: 25px;
}

.content a.btn {
    background: linear-gradient(rgb(11, 255, 11), #14d085, rgb(15, 230, 201));
    color: white;
    font-size: larger;
    padding: 15px 80px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}

.content a.btn:hover{
    text-decoration: underline;
    transform:scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.500);
}

.footer{
    display:grid;
    grid-template-columns: repeat(4 , 220px);
    justify-content: space-around;
    margin-top:50px;
}

.mindease,.company,.legal,.product{
    display:flex;
    flex-direction: column;
    gap:10px
}

.footer a{
    text-decoration: none;
    color: rgb(27, 26, 26);
}

.end{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
