body {
    margin:0px;
}

.navbar {
    justify-content: space-between;
    display: flex;
}

.logo {
    width: 90px
}

.right a,.left a{
    text-decoration: none;
    color: black;
    font-size: large;
    /* font-weight:500; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-top: 15px;
}

.right {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
.right a:hover,.left a:hover{
    text-decoration: underline;
}

.right a.getst {
    background: black;
    color: white;
    padding: 18px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.right a.getst:hover{
    text-decoration: underline;
    transform:scale(1.02);
     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.500);
}

.content {
    margin-left: 30px;
}

.content h1 {
    color: rgb(30, 200, 55);
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
    border-radius: 30px;
    margin-bottom: 0px;
}


.content h2 {
    max-width: 1020px;
    margin-bottom: px;

}

.plans {
    display: grid;
    /* border: 2px solid black; */
    background: white;
    grid-template-columns: repeat(3, 320px);
    justify-content: space-evenly;
    /* gap:900px */
    margin-top: 50px;
}

.plan-card{
    border-radius: 18px;
    border: 2px solid black;
    padding:32px;
    text-align: left;
    
}

.plan-card:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.497);
}

.one{
    display:flex;
    flex-direction: column;
    box-shadow: 0 15px 40px rgb(146, 193, 209);
}
.two{
     display:flex;
    flex-direction: column;
    box-shadow: 0 15px 40px rgba(30,200,55,0.3);
}
.three{
     display:flex;
    flex-direction: column;
    box-shadow: 0 15px 40px rgba(215, 17, 17, 0.467);
}

.plans a{
    background: rgb(62, 61, 61);
    color: white;
    padding: 20px 80px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600; 
    margin-top: 20px;
}

.plan-card a:hover{
    text-decoration: underline;
}
.footer{
    display:grid;
    grid-template-columns: repeat(4 , 220px);
    justify-content: space-around;
    margin-top:50px;
}

.mindease,.company,.legal,.product{
    display:flex;
    flex-direction: column;
    gap:10px
}

.footer a{
    text-decoration: none;
    color: rgb(27, 26, 26)
}

.end{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}